/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(./Praroz\ background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

img{
    margin-left: 8%;
    width: 150px;

}

ul{
    list-style-type: none;
    margin: 40px;

}

ul li{
    display: flex;
    flex-direction: row;
    display: inline-block;
    padding: 5px;

}

ul li a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: larger;
}

ul li a:hover{
    color: #000;
    background-color: #fff;

}

ul li.active a{
    color: black;
    background-color: #fff;
}

.content{
    display: grid;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    color: #fff;
    font-size: 25px;
}

.button{
    display: flex;
    flex-direction: row;
}


.btn{
    padding: 5px 10px;
    border: 1px solid white;
    color: #fff;
    margin: 3px;
} */

















*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    opacity: 0.9;
}

nav {
    background-image: url(./Praroz\ background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* border: 1px solid black; */
    justify-items: center;
    
}

ul {
    float: right;
    list-style-type: none;
    margin: 50px;
    margin-right: 50px;

}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
    font-size: 21px;

}

ul li a:hover {
    background-color: white;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

img {
    float: left;
    margin-left: 60px;
    width: 100px;
    height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.title h1{
    color: #fff;
    font-size: 60px;
}

.button{
    position: absolute;
     top: 100%;
    /* left: 50%;  */
    /* transform: translatex(-60%,-50%); */
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px ;
    color: #fff;
    transition: 0.5 ease;
    font-size: 17px;
    text-decoration: none;

}

.btn:hover{
    background-color: #fff;
    color: #000;
      
}



.sub-menu{
    display: none;
}




